# UFC Fighter Analysis 
by Matthew Kriel

In [30]:
#  libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings

# plot styling
plt.style.use('default')
sns.set_palette('husl')
warnings.filterwarnings('ignore')

# display options
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

print("Libraries & styling options loaded successfully")

Libraries & styling options loaded successfully

In [31]:
print("Loading UFC datasets")

fighters_df = pd.read_csv('dataset/ufc/fighter_attributes.csv')
print(f"Fighters: {len(fighters_df)}")

fights_df = pd.read_csv('dataset/ufc/fighter_history.csv')
print(f"Fights: {len(fights_df)}")

Loading UFC datasets
Fighters: 3035
Fights: 17837

In [32]:
print("FIGHTER ATTRIBUTES OVERVIEW")
fighters_df.head()

FIGHTER ATTRIBUTES OVERVIEW

   fighter_id               name  height  weight   age         dob  gender      weight_class   reach    stance                 style                  gym country
0     3332412    Islam Makhachev  177.80   70.31  33.0  1991-10-27    male      welterweight  179.07  southpaw             wrestling           eagles mma  russia
1     4350762        Zhang Weili  162.56   52.16  36.0  1989-08-13  female  womens-flyweight  160.02    switch             muay thai  beijing black tiger   china
2     4294832      Carlos Prates  185.42   77.11  32.0  1993-08-17    male      welterweight  198.12    switch               striker       fighting nerds  brazil
3     4243624       Tracy Cortez  165.10   56.70  31.0  1993-12-10  female  womens-flyweight  166.37  orthodox  mixed martial artist          fight ready     usa
4     4690541  Gregory Rodrigues  190.50   83.91  33.0  1992-02-17    male      middleweight  190.50  orthodox             grappling        kill cliff fc  brazil

In [33]:
print("FIGHT HISTORY OVERVIEW")
fights_df.head()

FIGHT HISTORY OVERVIEW

                                     uid                   fight_id   event_id  event_date event_name promotion  fighter_id     fighter_name fight_result  opponent_id          opponent_name  title_fight  fight_end_round fight_result_type  fight_duration  over_2_5
0  s:3301~l:3321~e:600051442~c:401751541  600051442-4873640-3028863  600051442  2025-01-18    UFC 311       UFC     3332412  islam makhachev            W      3028863         renato moicano         True                1        SUBMISSION            4.08     False
1  s:3301~l:3321~e:600044413~c:401652641  600044413-4873640-2506549  600044413  2024-06-01    UFC 302       UFC     3332412  islam makhachev            W      2506549         dustin poirier         True                5        SUBMISSION           22.70      True
2  s:3301~l:3321~e:600031832~c:401534648  600031832-3949584-4873640  600031832  2023-10-21    UFC 294       UFC     3332412  islam makhachev            W      3949584  alexander volkanovski         True                1            KO-TKO            3.10     False
3  s:3301~l:3321~e:600025531~c:401498612  600025531-3949584-4873640  600025531  2023-02-11    UFC 284       UFC     3332412  islam makhachev            W      3949584  alexander volkanovski         True                5           DEC-UNA           25.00      True
4  s:3301~l:3321~e:600017767~c:401423650  600017767-4873640-2504169  600017767  2022-10-22    UFC 280       UFC     3332412  islam makhachev            W      2504169       charles oliveira         True                2        SUBMISSION            8.27     False

In [34]:
print("BASIC STATISTICS")
print("=" * 50)
print("\n")


print(f"Tallest fighters:")
height = fighters_df.nlargest(5, 'height')[['name', 'height', 'weight_class', 'country']].reset_index(drop=True)
display(height)

print(f"Heaviest fighters:")
weight = fighters_df.nlargest(5, 'weight')[['name', 'height', 'weight_class', 'country']].reset_index(drop=True)
display(weight)

print(f"Longest reach:")
reach = fighters_df.nlargest(5, 'reach')[['name', 'height', 'weight_class', 'country']].reset_index(drop=True)
display(reach)

BASIC STATISTICS
==================================================


Tallest fighters:

            name  height weight_class      country
0  Stefan Struve  210.82  heavyweight  netherlands
1   Semmy Schilt  210.82  heavyweight          NaN
2       Wes Sims  208.28  heavyweight          NaN
3       Jack May  203.20  heavyweight          usa
4     Tim Sylvia  203.20  heavyweight          NaN

Heaviest fighters:

             name  height weight_class country
0   Sean McCorkle  200.66  heavyweight     NaN
1   Paul Varelans  203.20   openweight     NaN
2      Tony Halme  193.04  heavyweight     NaN
3   Steven Graham  185.42  heavyweight     NaN
4  Dan Christison  203.20  heavyweight     NaN

Longest reach:

                name  height weight_class      country
0      Stefan Struve  210.82  heavyweight  netherlands
1          Jon Jones  193.04  heavyweight          usa
2  Robelis Despaigne  200.66  heavyweight         cuba
3   Sergei Pavlovich  190.50  heavyweight       russia
4       Cheick Kongo  193.04  heavyweight       france

In [ ]:
print("📊 UFC FIGHTER VISUALIZATIONS")
print("=" * 50)

fig, axes = plt.subplots(2, 2, figsize=(15, 12))
fig.suptitle('UFC Fighter Analytics Dashboard', fontsize=16, fontweight='bold')

sns.boxplot(data=fighters_df, x='gender', y='height', ax=axes[0,0])
axes[0,0].set_title('Height Distribution by Gender')
axes[0,0].set_ylabel('Height (cm)')

weight_counts = fighters_df['weight_class'].value_counts().head(8)
sns.barplot(x=weight_counts.values, y=weight_counts.index, ax=axes[0,1])
axes[0,1].set_title('Most Popular Weight Classes')
axes[0,1].set_xlabel('Number of Fighters')

country_counts = fighters_df['country'].value_counts().head(10)
sns.barplot(x=country_counts.values, y=country_counts.index, ax=axes[1,0])
axes[1,0].set_title('Top 10 Countries by Fighter Count')
axes[1,0].set_xlabel('Number of Fighters')

stance_counts = fighters_df['stance'].value_counts()
axes[1,1].pie(stance_counts.values, labels=stance_counts.index, autopct='%1.1f%%')
axes[1,1].set_title('Fighting Stance Distribution')

plt.tight_layout()
plt.show()